/target/
/.idea/
/clontologytdb/
/backup/
nbactions.xml
backupold/
sparql/queries/test.sparql
cleanedOntology/
src/main/java/de/ist/clonto/triplestore/transform/Cleaner.java
.settings/
*.lock
clonto/
cleanedOntology2/
*.idn
*.dat
*.jrnl
*.dat-jrnl
